[submodule "public"]
	path = public
	url = https://memes@github.com/memes/memes.github.io.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/memes/beautifulhugo.git
